<% provide(:title, "Log in") %>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-7 col-fluid">
      <%= render 'shared/brand' %>
    </div>

    <div class="col-lg-5">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <h4><a href="#" class="active" id="login-form-link">Login</a></h4>
            </div>
            <div class="col-xs-6">
              <h4><a href="#" id="register-form-link">Register</a></h4>
            </div>
          </div>
          <hr>
        </div> <!-- panel-heading --> 

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <%= form_for(:session, url: login_path, :html => {:id => "login-form"}) do |f| %>
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %> text-center" id="loginError"><%= message %></div>
                <% end %>
                <%= f.email_field :email, class: "form-control", :placeholder => "Email" %>
                <br>
                <%= f.password_field :password, class: "form-control", :placeholder => "Password" %>

                <div class="text-center">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, id: "rememberMe"%>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <%= f.submit "Log in", id: "login-submit", class: "form-control btn btn-success btn-login" %>
                  </div>
                </div>
              <% end %> <!-- login form -->
              
              <%= form_for(@user, :html => {:id => "register-form", :style => "display: none;"}) do |f| %>
                <%= f.check_box :official %>
                <%= f.label :official, " I'm an elected official.", id: "officialCheckbox" %>
                <br>
                <br>
                <%= f.text_field :first_name, class: "form-control", :placeholder => "First name" %>
                <br>
                <%= f.text_field :middle_name, class: "form-control", :placeholder => "Middle name" %>
                <br>
                <%= f.text_field :last_name, class: "form-control", :placeholder => "Last name" %>
                <br>
                <%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
                <br>
                <p><%= f.label :community_id, "Select your community from the available list:", id: "communityList" %></p>
                <%= f.collection_select :community_id, Community.all, :id, :name, include_blank: true %>
                <p id="noCommunity">Is your community not listed? <%= link_to "Contact us!", contact_path %></p>
                <br>
                <%= f.text_field :address, class: "form-control", :placeholder => "Address" %>
                <br>
                <%= f.text_field :zip, class: "form-control", :placeholder => "Zip Code" %>
                <br>
                <%= f.password_field :password, class: "form-control", :placeholder => "Password" %>
                <br>
                <%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Password Confirmation" %>
                <br>

                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <%= f.submit "Create Account", class: "form-control btn btn-success btn-register" %>
                  </div>
                </div>
              <% end %> <!-- register form -->

            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- panel-body -->

      </div> <!-- panel -->
    </div> <!-- col -->

  </div> <!-- row -->
</div> <!-- container-fluid -->

<%= render "shared/aboutSection" %>

<section id="contactSection">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <br>
        <p class="contactHeader">If you are interested in bringing PowerShare to your community, contact us at:</p>
        <p class="contactHeader">571-215-6069</p>
        <p class="contactHeader">or</p>
        <p id="emailAddress"><a href="mailto:powershare.community@gmail">powershare.community@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>