<% provide(:title, 'All users') %>
<% if logged_in? %>
  <%= render 'layouts/header' %>
<% end %>

<div class="container-fluid" id="allUsersSection">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <h3>Users pending activation:</h3>
      <%= will_paginate %>
      <ul class="users">
        <% @users.where({community_id: current_user.community_id}).each do |user| %>
          <% if user.active == false %>
            <li><%= link_to user.last_name+", "+user.first_name+" "+user.middle_name, user %></li>
            <li><%= user.email %></li>
            <li><%= user.address %></li>
            <li><%= user.community.name %></li>
            <li><%= user.zip %></li>
            <li>
              | <%= link_to "activate user", user, method: :activate, data: { confirm: "Are you sure you want to activate this user's account?" } %>
              | <%= link_to "delete user", user, method: :delete, data: { confirm: "Are you sure you want to delete this user's account from the system?" } %> |
            </li>
            <hr>
          <% end %>
        <% end %>
      </ul>
      <%= will_paginate %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <h3>Active users:</h3>
      <%= will_paginate %>
      <ul class="users">
        <% @users.where({community_id: current_user.community_id}).each do |user| %>
            <% if user.active == true %>
              <li><%= link_to user.last_name+", "+user.first_name+" "+user.middle_name, user, "data-toggle" => "modal", "data-target" => "#accountModal" %>
              <% if user.admin == true %>
            	 | Administrator
              <% else %>
                <% if user.official == true %>
                 | Elected Official
                <% end %>
            	 | <%= link_to "delete user", user, method: :delete, data: { confirm: "Are you sure you want to delete this user's account from the system?" } %> | 
          	  <% end %>
          	  <hr>
            <% end %>
          <% end %>
        </li>
      </ul>
      <%= will_paginate %>
    </div>
  </div>
</div>

<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>