<% provide(:title, @user.first_name+" "+@user.last_name) %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"> 
			<h2><strong><%= @user.first_name+" "+@user.middle_name+" "+@user.last_name %></strong></h2>
			<hr>
			<h3><%= @user.email %></h3>
			<h3><%= @user.address %></h3>
			<h3><%= @user.community.name %></h3>
			<h3><%= @user.zip %></h3>
			<h4><%= link_to "(Update Account Information)", edit_user_path(current_user) %></h4>
			<hr>

    	<% if @user.microposts.any? %>
      	<h3>Goals you have submitted: (<%= @user.microposts.count %>)</h3>
      	<br>
      		<% @microposts.each do |f| %>
        		<h4><%= link_to f.content, f %></h4>
        	<% end %>
      	<%= will_paginate @microposts %>
    	<% end %>
    </div>
  </div>
</div>