<% if micropost.achieved == false %>
	<tr>
		<td>
			<div class="bs-calltoaction bs-calltoaction-info">
			  <div class="row">
			  	<div class="col-lg-1 col-lg-offset-2">
			  		<label>
			  			<%= radio_button_tag "selectable_goal", micropost.content %>
			  			<i class="fa fa-check fa-4x"></i>
			  		</label>
			  	</div>
			    <div class="col-lg-6 cta-contents">
			      <h3 class="cta-title"><%= micropost.content %></h3>
			      <div class="cta-desc">
			        <h3>Current number of votes: <%= micropost.votes %></h3>
			        <h4><%= "(submitted "+time_ago_in_words(micropost.created_at)+" ago)" %></h4>
			      </div>
			    </div>
			    <div class="col-lg-3 cta-button">
			    	<%= link_to "Submit Priority", "#", class: "btn btn-lg btn-block btn-info", :onclick => "submitPriority()" %>
			    	<% if current_user.official == false %>
							<%= link_to "View Responses", micropost, class: "btn btn-lg btn-block btn-info", "data-toggle" => "modal", "data-target" => "#goalModal" %>
						<% else %>
							<%= link_to "Write a Responses", micropost, class: "btn btn-lg btn-block btn-info", "data-toggle" => "modal", "data-target" => "#goalModal" %>
						<% end %>
			    </div>
			  </div>
			</div>
		</td>
	</tr>
<% else %>
	<tr>
		<td>
			<div class="bs-calltoaction bs-calltoaction-success">
			  <div class="row">
			  	<div class="col-lg-1 col-lg-offset-2">
			  		<label>
			  			<%= radio_button_tag "selectable_goal", micropost.content %>
			  			<i class="fa fa-check fa-4x"></i>
			  		</label>
			  	</div>
			    <div class="col-lg-6 cta-contents">
			      <h3 class="cta-title"><%= micropost.content %></h3>
			      <div class="cta-desc">
			        <h3>Current number of votes: <%= micropost.votes %></h3>
			        <h4><%= "(submitted "+time_ago_in_words(micropost.created_at)+" ago)" %></h4>
			      </div>
			    </div>
			    <div class="col-lg-3 cta-button">
			    	<h2 class="achieved">ACHIEVED!</h2>
			    	<%= link_to "Submit Priority", "#", class: "btn btn-lg btn-block btn-success", :onclick => "submitPriority()" %>
			      <% if current_user.official == false %>
							<%= link_to "View Responses", micropost, class: "btn btn-lg btn-block btn-success", "data-toggle" => "modal", "data-target" => "#goalModal" %>
						<% else %>
							<%= link_to "Write a Responses", micropost, class: "btn btn-lg btn-block btn-success", "data-toggle" => "modal", "data-target" => "#goalModal" %>
						<% end %>
			     </div>
			  </div>
			</div>
		</td>
	</tr>
<% end %>

<div class="modal fade" id="goalModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"></div>
			<div class="modal-body"></div>
			<div class="modal-footer"></div>
		</div>
  </div>
</div>