<tr>
	<td><label>
		<%= radio_button_tag "selectable_goal", micropost.content %>
		<i class="fa fa-check fa-2x"></i>
		<span>
			<span class="goalContent"><%= micropost.content %></span>
			<p> </p>
			<p class="timeAgoText"><small><%= "(submitted "+time_ago_in_words(micropost.created_at)+" ago)" %></small></p>
			<% if current_user.official == false %>
				<p class="viewResponsesText"><%= link_to "View Responses", micropost %></p>
			<% elsif current_user.official == true %>
				<p class="viewResponsesText"><%= link_to "Write a Response", micropost %></p>
			<% end %>
		</span>
	</label></td>
	<td><span><strong><%= micropost.votes %></strong></span></td>
	<% if micropost.achieved %>
		<td><span class="achievedText">Achieved!</span></td>
	<% else %>
		<td><span></span></td>
	<% end %>
</tr>