<% provide(:title, 'New Goal') %>

<div class="container-fluid" id="newGoalSection">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<h3 class="text-muted">Submit a new goal for your community to prioritize.</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<% flash.each do |message_type, message| %>
				<br>
      	<div class="alert alert-<%= message_type %> text-center" id="newGoalError"><%= message %></div>
    	<% end %>
    	
			<%= form_for(@micropost) do |f| %>
			  <%= render 'shared/error_messages', object: f.object %>

			  <h3><%= f.label :description, "Describe the Goal:" %></h3>
			  <%= f.text_area :description, class: 'form-control' %>  

			  <h3><%= f.label :measurement, "Measure the Goal:" %></h3>
			  <%= f.text_area :measurement, class: "form-control" %>

			  <h3><%= f.label :achieved_by, "Achieved By:" %></h3>
			  <p><%= f.date_select :achieved_by %></p>

				<br> 
				<%= f.submit "Submit Goal", id: "submitGoal", class: "form-control btn btn-lg btn-success btn-login" %>
			<% end %>
		</div>
	</div>
</div>