<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-8 col-lg-offset-4">
			<br>
			<button type="button" class="close btn-lg" data-dismiss="modal"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<h3><%= @micropost.content %></h3>
			<h4><%= @micropost.votes%> votes</h4>
			<% if @micropost.achieved == true %>
				<h4 class="achieved">Achieved!</h4>
			<% end %>
			<hr>
			<% if current_user.official == false %>
				<h3>Representative Comments:</h3>
				<% if @micropost.responses.any? %>
					<% @micropost.responses.each do |response| %>
						<br>
						<h4><%= response %></h4>
					<% end %>
					<br>
				<% else %>
					<h4 class="text-muted"><em>There are no comments at this time</em></h4>
					<br>
				<% end %>
			<% elsif current_user.official == true %>
				<h4>Write a Response to This Goal.</h4>
				<br>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<%= label_tag "Comment:", nil, class: "newGoalLabel" %>
				  <%= text_area_tag 'newResponse', nil, class: 'form-control' %>
				  <br>
				  <%= button_tag "Submit Response", class: "btn btn-primary btn-lg btn-success", id: "submitPriorityButton",  data: { confirm: "Are you sure you'd like to provide this response?" } %>
				  <br>
				  <br>
				</div>
			<% end %>
		</div>
	</div>
</div>