<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
  <title>Powershare | <%= yield(:title) %></title>
  <meta name="PowerShare International" content="Beta">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Open+Sans" %>
  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Vollkorn" %>
</head>

<body>

<% if logged_in? %>
  <%= render 'layouts/header' %>
<% end %>

<%= yield %>

</body>

</html>
